@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* This is the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 6px;
}

/* This is the handle (the moving part) */
::-webkit-scrollbar-thumb {
  background: #f15a59;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ed2b2a;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and newer versions of Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chat-response p {
  @apply pb-7;
}

.no-tailwind,
.no-tailwind * {
  all: unset;
}

.chat-response ol {
  list-style-type: number; /* Remove default bullets */
  counter-reset: itemCounter; /* Initialize a counter named itemCounter */
  padding-left: 0;
}

.chat-response ol li {
  counter-increment: itemCounter; /* Increment the counter */
  content: counter(itemCounter) ". "; /* Display the counter value followed by a period */
  margin-right: 10px; /* Spacing between the number and list item content */
}
